/*Ändra bakgrundsfärgen på body*/
body{
    background-color: #483c32;
    color: white;
}
/*Fixa bakgrundsfärg och själva "rutan" för våran formulär*/
.container-form{
    background-color: #141413;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 10px;
    padding: 10px;
}


.movie-title,
.year-released,
.director {
    margin-bottom: 10px; 
}


#resourceList {
    margin: 0 auto;
    max-width: 600px; 
}
